<!DOCTYPE html>
<html lang="" style="font-size: 16px">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="test">
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<!-- built files will be auto injected -->
<div style="font-size: 12px;">12px</div>
<div style="font-size: 11px;">11px</div>
<div style="font-size: 10px;">10px</div>
<div style="font-size: 9px;">9px</div>
<div style="font-size: 8px;">8px</div>
<div style="font-size: 7px;">7px</div>
<div style="font-size: 6px;">6px</div>
<div style="font-size: 5px;">5px</div>
<div style="font-size: 4px;">4px</div>
<div style="font-size: 3px;">3px</div>
<div style="font-size: 2px;">2px</div>
<div style="font-size: 1px;">1px</div>
</body>
<script>
</script>
<style>
</style>
</html>