<!DOCTYPE html>
<html lang="" style="font-size: 16px">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body class="test">
<noscript>
    <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
</noscript>
<div id="app">傻逼</div>
<div id="app2">傻逼</div>
<div id="app3"></div>
<!-- built files will be auto injected -->
</body>
<script>
    document.getElementById("app3").innerHTML=navigator.userAgent
</script>
<style>
    #app{
        width: 100px;
        height: 100px;
        border: 0.5px solid red;
    }
    #app2{
        margin-top: 20px;
        width: 100px;
        height: 100px;
        border: 1px solid red;
    }
</style>
</html>